@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800;
}

html {
  @apply text-gray-100;
}

.slide-right {
  -webkit-animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left {
  -webkit-animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tag-style {
  @apply flex w-fit px-2 justify-center items-center rounded-md bg-gray-200 text-gray-800;
}

.input-style {
  @apply block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.form-style {
  @apply block p-6 rounded-lg shadow-lg bg-white max-w-sm;
}

.label-style {
  @apply inline-block mb-2 text-gray-700;
}

.submit-style {
  @apply mt-4
        px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out;
}

.multiSelect-style {
  @apply block w-full mt-1 rounded border;
}

@-webkit-keyframes slide-right {
  30% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  65% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  30% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  65% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  30% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  65% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  30% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  65% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
