@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800;
}

html {
  @apply text-gray-100;
}

.slide-right {
  -webkit-animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left {
  -webkit-animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  30% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  65% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  30% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  65% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  30% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  65% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  30% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  65% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
